:root{
    --lightGrey: #faf9f8;
    --inBlue: #2557a7;
    --borderGrey: rgb(181, 180, 180);
}

h4{
    color: var(--inBlue);
}

body{
    margin: 0px;
}
@media screen and (max-width: 768px){
    .all-search{
        display: block;
    }
}

@media screen and (max-width: 978px){
    .container{
        width: 90%;
        margin: 0 auto;
    }
}
.container{
    width: 85%;
    margin: 0 auto;
}
.home-page{
    background-color: var(--lightGrey);
    height: 100vh;
}


input{
    border-radius: 5px;
    border: 1px solid grey;
    height: 25px;
}

input:focus{
    border: 1px var(--inBlue) solid;
}

.empty-url{
    display: none;
    color: red;
    margin-bottom: 0.5em;
}

.initial-box, .filter-box, .project-info-text{
    background-color: white;
    margin-bottom: 3em;
}


.container-items{
    padding: 1em;
}

.initial-box-in, .project-info-text{
    padding: 1em;
}

ul{
    list-style: none;
}

.all-search{
    display: flex;
    padding: 1em;
}

.filter{
    width: 75%;    
}

.filter-btn, .delete-btn{
    border: none;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px var(--borderGrey) solid;
    border-radius: 5px;
    margin-left: 2px;
    background-color: rgb(199, 199, 199);
}

.filter-items{
    display: block;
    padding-left: 0px;
}

.one-box{
    display: flex;
    margin-right: 1.5em;
    margin-bottom: 0.3em;
}

.submit-btn{
    background:var(--inBlue);
    color: white;
    font-weight: bold;
    height: 30px;
    margin-top: 3em;
    border: none;
    border-radius: 5px;
}


/* result styles */
.result-page{
    background-color: white;
}

.job-description{
    border: 1px solid var(--borderGrey);
    border-radius:  5px;
    margin: 0.5em;
    max-width: 300px;
}

.job-describe{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    color: var(--borderGrey);
}
