{% extends 'base.html' %}
{% block content %}
<div class="home-page">
    <div class="container">
        <div class="project-info">
            <div class="project-info-text">
                <h2>About project</h2>
                <p>Filter items from search results from indeed.com to get better results.</p>
            </div> 
        </div>
        <!-- url box -->
        <form action="#" method="POST" id='filter-form'>
            <div class="initial-box">
                <div class="initial-box-in">
                    <h2>How to use it</h2>
                    <h4 class='empty-url'>Empty URL</h4>
                    <input type="text" name='job-url' placeholder="url here" id='url-input'>
                    <p>Make initial search at indeed and then pass this url here</p>
                </div>
            </div>
                <!-- filter box -->
        <div class="filter-box">
            <div class="container-items">
                <h2>Filter Items</h2>
                <h3>Exact search</h3>
                <p>Filter items by exact keywords</p>
                <div class="all-search">
                    <div class="search-box">                
                        <div class="title-box">
                            <p>Title</p>
                            <ul class='filter-items' id='title'>
                                <li class="one-box">
                                    <input type="text" class='filter' placeholder="filter here" name='title-0'>
                                    <div class='filter-btn'>add</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-box">
                        <div class="title-box">
                            <p>Requirements</p>
                            <ul class='filter-items' id='requirements'>
                                <li class="one-box">
                                    <input type="text" class='filter' placeholder="filter here" name='requirements-0'>
                                    <div class='filter-btn'>add</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-box">
                        <div class="title-box">
                            <p>Summary</p>
                            <ul class='filter-items'>
                                <li class="one-box" id='summary'>
                                    <input type="text" class='filter' placeholder="filter here" name='summary-0'> 
                                    <div class='filter-btn'>add</div>
                                </li>
                            </ul>
                        </div>
                    </div>                  
                </div>    
                <h3>Common search</h3>
                <p>Filter all items that have this search word in title, requirements, or summary of the job</p>
                <div class="all-search">
                    <div class="search-box">                
                        <div class="title-box">
                            <ul class='filter-items' id='any'>
                                <li class="one-box">
                                    <input type="text" class='filter' placeholder="filter here" name='any-0'>
                                    <div class='filter-btn'>add</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
          </div>
        <!-- submit btn -->
        <button class='submit-btn'>Get results</button>
        </form>
    </div>
</div>

 <script src="{{url_for('static', filename='script.js')}}"> </script>
{% endblock %}